In [1]:
import datetime as dt

import pandas as pd

from kamas_core.api import run_strategy
from kamas_core.time import today
from kamas_trader.trader import TradeOrchestrator
from kamas_trainer.backtester import SimpleBacktester

In [2]:
start = today() - dt.timedelta(days=90)
end = today()
initial_balance = 1000.0
symbol = "EURUSD"
strategy = "C1BR1C2V"

In [ ]:
orchestrator = TradeOrchestrator([symbol], strategy)
backtester = SimpleBacktester(orchestrator)
backtester.test_daily(start, end)

In [4]:
start = dt.datetime(2025, 12, 8)
end = dt.datetime(2025, 12, 12)

print(start)

res = run_strategy(symbol, strategy, start, end)
print("\n\n\n\nnodes")
print(res.nodes)
print("---price close---")
print(res.price_close)

df = pd.DataFrame(res.nodes, index=res.time)
df

2025-12-08 00:00:00
ema
gt
[array([1.1672 , 1.16573, 1.16998, 1.17628, 1.17499, 1.17391, 1.17689,
       1.18042, 1.17582, 1.17629, 1.17379, 1.17194, 1.17695, 1.1802 ,
       1.1808 , 1.17863, 1.17968, 1.17733, 1.17891, 1.17799]), array([1.16165, 1.16151, 1.16217, 1.16823, 1.17196, 1.17328, 1.17265,
       1.17346, 1.17032, 1.17124, 1.17029, 1.17124, 1.17065, 1.17613,
       1.17727, 1.17793, 1.17617, 1.17653, 1.17495, 1.17434]), array([1.16361, 1.16267, 1.16954, 1.17389, 1.17399, 1.17376, 1.17514,
       1.17476, 1.17403, 1.17246, 1.17089, 1.17144, 1.17592, 1.17947,
       1.17779, 1.17818, 1.17713, 1.17706, 1.17689, 1.17467])]
atr
or




nodes
{'ema_20.price_above_ema': array([1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int8), 'ema_20.price_below_ema': array([ 0,  0, -1,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,
        0,  0,  0], dtype=int8), 'ema_20.price_equal_ema': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
      dtype=int8), 'ema_20': array([ 1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1], dtype=int8), 'c1': array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True]), 'atr_14': array([       nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan, 0.00473214, 0.00458786,
       0.00434643, 0.00403929, 0.00352143, 0.00358786, 0.00379786]), 'buy_signal': array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])}
---price close---
[1.16361 1.16267 1.16954 1.17389 1.17399 1.17376 1.17514 1.17476 1.17403
 1.17246 1.17089 1.17144 1.17592 1.17947 1.17779 1.17818 1.17713 1.17706
 1.17689 1.17467]

,ema_20.price_above_ema,ema_20.price_below_ema,ema_20.price_equal_ema,ema_20,c1,atr_14,buy_signal
2025-12-08,1,0,0,1,True,NaN,True
2025-12-09,1,0,0,1,True,NaN,True
2025-12-10,0,-1,0,-1,True,NaN,True
2025-12-11,1,0,0,1,True,NaN,True
2025-12-12,1,0,0,1,True,NaN,True
2025-12-14,1,0,0,1,True,NaN,True
2025-12-15,1,0,0,1,True,NaN,True
2025-12-16,1,0,0,1,True,NaN,True
2025-12-17,1,0,0,1,True,NaN,True
2025-12-18,1,0,0,1,True,NaN,True
2025-12-19,1,0,0,1,True,NaN,True
2025-12-21,1,0,0,1,True,NaN,True
2025-12-22,1,0,0,1,True,NaN,True
2025-12-23,1,0,0,1,True,0.004732,True
2025-12-24,1,0,0,1,True,0.004588,True
2025-12-25,1,0,0,1,True,0.004346,True
2025-12-26,1,0,0,1,True,0.004039,True
2025-12-28,1,0,0,1,True,0.003521,True
2025-12-29,1,0,0,1,True,0.003588,True
2025-12-30,1,0,0,1,True,0.003798,True

In [ ]:
2 or 0

In [ ]:
res.time

In [ ]:
import numpy as np
from typing import Any

ArrayLike = Any

def or_(*args):
    if not args:
        raise ValueError("python_or requires at least one argument")

    return np.array([
        next(v for v in values if v) if any(values) else values[-1]
        for values in zip(*args)
    ])


# ---- Example usage ----
a = np.array([0, 0, 0, 0, 0], dtype=np.int8)
b = np.array([1, 1, -1, 1, 1], dtype=np.int8)

result = or_(a, b)

print("Result:")
print(result)
print("dtype:", result.dtype)